html{
    background-color: #f3f3f3;
}

.form-register{
    max-width: 1000px;
    width: 100%;
    margin: 0 auto;
    font: bold 14px sans-serif;
    text-align: center;

}
fieldset{
	width=50em;
}
.right{
	float:right;
	    padding-right: 5em;
    position: relative;
}
